variables:
  GIT_SUBMODULE_STRATEGY: recursive

image: crosslab/devcontainer:latest

stages:
  - build

default:
  before_script:
    - sudo chown -R $(whoami) .
    - mkdir -p ~/.ssh/ && cp "$CI_SSH_KEY" ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      variables:
        PIPELINE_NAME: 'Branch pipeline: $CI_COMMIT_BRANCH'
        BRANCH: $CI_COMMIT_BRANCH

build:
  stage: build
  script:
    - ./scripts/ci.sh --branch $BRANCH