import basicValidationTestSuite from "./basicValidation.spec"
import requestValidationTestSuite from "./requestValidation.spec"
import typeguardTestSuite from "./types.spec"

export default () => describe("Generated Tests", function () {
    basicValidationTestSuite()
    requestValidationTestSuite()
    typeguardTestSuite()
})