
{%- set securitySchemes = [] -%}
{%- for securityScheme, value in api.components.securitySchemes -%}
{%- set securitySchemes = (securitySchemes.push(securityScheme), securitySchemes) -%}
{%- endfor -%}

{%- macro generateIndex() -%}
import basicValidationTestSuite from './basicValidation.spec.js'
import requestValidationTestSuite from './requestValidation.spec.js'
import typeguardTestSuite from './types.spec.js'
import routesTestSuite from './routes.spec.js'

describe('Generated', function () {
    this.beforeAll(function () {
        console.log = (_message: any, ..._optionalParams: any[]) => undefined
        console.error = (_message: any, ..._optionalParams: any[]) => undefined
        console.warn = (_message: any, ..._optionalParams: any[]) => undefined
        console.info = (_message: any, ..._optionalParams: any[]) => undefined
    })
    
    basicValidationTestSuite()
    requestValidationTestSuite()
    typeguardTestSuite()
    routesTestSuite()
})
{%- endmacro -%}

{{ generateIndex() }}