{% if true -%}
const parameters = {
{%- if true %}
    test1: {
    {% for i in ["a","b","c"] -%}
        {{ "\t" + i }}
    {% endfor -%}
    },
{%- endif -%}
{%- if true %}
    test2: {
    {% for i in ["a","b","c"] -%}
        {{ "\t" + i }}
    {% endfor -%}
    }
{%- endif -%}
}
{%- endif -%}