{{ schemas('python') | await }}

class PartialSignalingMessage:
    content: Dict[str, Any]
    signaling_type: SignalingType

    def __init__(self, content: Dict[str, Any], signaling_type: SignalingType) -> None:
        self.content = content
        self.signaling_type = signaling_type

    @staticmethod
    def from_dict(obj: Any) -> 'PartialSignalingMessage':
        assert isinstance(obj, dict)
        content = from_dict(lambda x: x, obj.get("content"))
        signaling_type = SignalingType(obj.get("signalingType"))
        return PartialSignalingMessage(content, signaling_type)

    def to_dict(self) -> dict:
        result: dict = {}
        result["content"] = from_dict(lambda x: x, self.content)
        result["signalingType"] = to_enum(SignalingType, self.signaling_type)
        return result
