{%- macro generateRequestValidation() -%}
{%- set unsortedOperations = (api | resolveOperations) -%}
{%- set sortedOperations = unsortedOperations | sortByAttribute("serviceName") -%}
{%- set typeDependencies = ["ResponseData"] -%}
{%- set signatureDependencies = [] -%}
{%- set validationDependencies = [] -%}

{%- for operation in unsortedOperations -%}
    {%- if operation.parameters -%}
        {%- set signatureDependencies = (signatureDependencies.push((operation.serviceName | formatName) + "Signatures"), signatureDependencies) -%}
        {%- for parameter in operation.parameters -%}
            {%- set validationDependencies = (validationDependencies.push((operation.serviceName | formatName) + "BasicValidation"), validationDependencies) -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if operation.requestBody -%}
        {%- set signatureDependencies = (signatureDependencies.push((operation.serviceName | formatName) + "Signatures"), signatureDependencies) -%}
        {%- set validationDependencies = (validationDependencies.push((operation.serviceName | formatName) + "BasicValidation"), validationDependencies) -%}
    {%- endif -%}
    {%- if operation.responses -%}
        {%- set signatureDependencies = (signatureDependencies.push((operation.serviceName | formatName) + "Signatures"), signatureDependencies) -%}
        {%- for response in operation.responses -%}
            {%- if response.schema -%}
                {%- set validationDependencies = (validationDependencies.push((operation.serviceName | formatName) + "BasicValidation"), validationDependencies) -%}
            {%- endif -%}
            {%- for header in response.headers -%}
                {%- set validationDependencies = (validationDependencies.push((operation.serviceName | formatName) + "BasicValidation"), validationDependencies) -%}
            {%- endfor -%}
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}

/**
 * This file was automatically generated by openapi-codegeneration.
 * DO NOT MODIFY IT BY HAND. Instead, modify the source OpenAPI file,
 * and run openapi-codegeneration to regenerate this file.
 */
import {
    {{ typeDependencies | unique | join(",\n\t") }}
} from "./types.js"

import {
    {{ signatureDependencies | unique | join(",\n\t") }}
} from "./signatures.js"

import {
    {{ validationDependencies | unique | join(",\n\t") }}
} from "./basicValidation.js"

{%- for serviceName, operations in sortedOperations %}

/**
 * Namespace containing the request validation functions for the {{ serviceName }}.
 */
export namespace {{ serviceName | formatName }}RequestValidation {
{%- for operation in operations %}
{%- set basicValidation = (serviceName | formatName) + "BasicValidation" %}
{%- set signatures = (serviceName | formatName) + "Signatures" %}
{%- set low_name = operation.operationId | formatName(false) %}
{%- set cap_name = operation.operationId | formatName() %}
    /**
     * This function validates the inputs to {{ low_name }}()
     */
    export function validate{{ cap_name }}Input(
        {{- "parameters: " + signatures + "." + cap_name + "Parameters" if operation.parameters -}}
        {{- ", " if (operation.parameters and operation.requestBody) -}}
        {{- "body: " + signatures + "." + cap_name + "Body" if operation.requestBody -}}
    ) {
        {% if operation.parameters -%}
        if (parameters) {
            {%- for parameter in operation.parameters %}
            if (
                !{{ basicValidation }}.validate{{ parameter.name | formatName -}}Request(parameters["{{ parameter.name }}"]) 
                {{- "\n\t\t\t&& parameters['" +  parameter.name + "'] !== undefined" if not parameter.required }}
            ) {
                (validate{{ cap_name }}Input as any).errors = ({{ basicValidation }}.validate{{ parameter.name | formatName }}Request as any).errors
                return false
            }
            {%- endfor %}
        } else {
            {%- if operation.parameters | selectattr("required") | length > 0 %}
            return false
            {%- else %}
            if (parameters !== undefined) {
                return false
            }
            {%- endif %}
        }

        {% endif -%}

        {% if operation.requestBody -%}
        {% if not operation.requestBody.required -%}
        if (body === undefined) {
            return true
        }

        {% endif -%}
        if (!{{ basicValidation }}.validate{{ cap_name }}BodyRequest(body)) {
            (validate{{ cap_name }}Input as any).errors = ({{ basicValidation }}.validate{{ cap_name }}BodyRequest as any).errors
            return false
        }

        {% endif -%}

        return true
    }

    /**
     * This function validates the outputs of {{ low_name }}()
     */
    export function validate{{ cap_name }}Output(response: ResponseData): response is {{ signatures }}.{{ cap_name }}Response {
        if (response.status < 100 || response.status >= 600) return false

        {% for response in operation.responses -%}
        {%- if response.status | endsWith("XX") %}
        if (response.status >= {{ (response.status | replace("X","0") | int) }} && response.status < {{ (response.status | replace("X","0") | int) + 100 }} ) {
        {%- else %}
        if (response.status === {{ response.status }}) {
        {%- endif %}
            {% if response.headers -%}
            if (response.headers) {
                {%- for header in response.headers %}
                if (
                    !{{ basicValidation }}.validate{{ cap_name }}{{ header.name }}Response(response.headers["{{ header.name }}"])
                    {{ "\n\t\t\t\t&& response.headers['" + header.name + "'] !== undefined " if not header.required -}} 
                ) {
                    (validate{{ cap_name }}Output as any).errors = ({{ basicValidation }}.validate{{ cap_name }}{{ header.name }}Response as any).errors
                    return false
                }   
                {%- endfor %}
            } else {
                {%- if response.headers | selectattr("required") | length > 0 %}
                return false
                {%- else %}
                if (response.headers !== undefined) {
                    return false
                }
                {%- endif %}
            }

            {% endif -%}
            {% if response.schema -%}
            if (!{{ basicValidation }}.validate{{ cap_name }}Response{{ response.status }}Response(response.body)) {
                (validate{{ cap_name }}Output as any).errors = ({{ basicValidation }}.validate{{ cap_name }}Response{{ response.status }}Response as any).errors
                return false
            }

            {% endif -%}    
            return true
        }

        {% endfor -%}
        (validate{{ cap_name }}Output as any).errors = `Response status ${response.status} is unexpected`

        return false
    }
{% endfor -%}
}
{%- endfor %}
{%- endmacro -%}
{{ generateRequestValidation() }}