{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": [
    "src/generated/**/*",
    "src/database/migrations/**/*",
    "test/generated/**/*",
    "dist/**/*",
    "lib/**/*",
    "app/**/*",
    "docs/**/*",
    "http-dist/**/*",
    "/*.js"
  ],

  "rules": {
    "@typescript-eslint/no-shadow": ["error"],
    "no-shadow": "off",
    "no-undef": "off",
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn", // or "error"
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-var-requires": "off"
  }
}
