{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 90,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
